# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
*.mp4
*.mp3
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/memory_ai_poc/test_images
*/storage

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
/storage
memory_ai_poc/test_images/
# Відеофайли
*.mp4


# Папка зі зображеннями для тестів
/memory_ai_poc/test_images/*.mp4
/memory_ai_poc/test_images/*.jpg
